.woocommerce table.form-table,
.woocommerce h1,
.woocommerce h2,
.woocommerce h3,
.woocommerce h4,
.woocommerce h5,
.woocommerce h6,
.woocommerce p {
    display: block;
    width: 75%;
    float: left;
}

.form-table {
    clear: none;
}

.woorac_settings_tab_sidebar {
    display: block;
    width: 22%;
    margin-left: 2%;
    float: right;
}

#message p {
    display: block;
    width: 100%;
    float: none;
}

.woorac_settings_tab_sidebar_item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.woorac_settings_tab_sidebar_item p {
    display: block;
    width: 100%;
    float: none;
}